@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

$--accent-color: #e1bdbd;
$--accent-secondary: #ffdbe3;

$--black: #000000;
$--white: #ffffff;

$--second-font-color: #777;

$--header-font: 'lora'; 
$--main-font: 'nunito';

$--overlay-bg: rgb(0 0 0 / 26%);